* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    color: #181818;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #d6d6d6;
}

.logo {
    width: 70%;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
}

a {
    color: #000000;
    text-decoration: none;
}

main {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;

    padding-top: 30px;
    margin: 50px 50px auto 50px;
    flex-direction: row;
    gap: 32px;
    padding: 20px;
}

p {
    text-align: justify;
}

.banner {
    width: 30%;
}

footer {
    width: 100%;
    text-align: center;
    padding: 5px;

    background-color: #f1f1f1;
    border-top: 1px solid #e6e6e6;
    font-size: 13px;
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 10px;
    }

    header a {
        display: flex;
        justify-content: center;
        width: 30%;
    }

    li {
        font-size: 12px;
        display: flex;
        justify-content: space-around;
    }
    
    .ordem {
        padding: 10px;
        transform: none;
        font-size: 12px;
    }

    main {
        margin: 0;
    }

    .catalogo {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .produto {
        justify-items: center;
    }

    section {
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    select,
    input,
    textarea {
        width: 335px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .banner {
        width: 100%;
    }

    #tabela {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px
    }

    table {
        width:100%
    }
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 10px;
    }

    header a {
        display: flex;
        justify-content: center;
        width: 30%;
    }

    li {
        font-size: 12px;
        display: flex;
        justify-content: space-around;
    }
    
    main {
        display: flex;
        flex-direction: column;
    }

    .banner {
        width: 100%;
    }
}